@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.heading {
  font-family: 'Abril Fatface', cursive;
}

header nav {
  height: 60px;
}

button[type=submit].simple-btn {
  font-size: 14px;
}

section#hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.4fr;
      grid-template-columns: 1fr 1.4fr;
  -ms-grid-rows: 700px;
      grid-template-rows: 700px;
  place-items: center;
}

section#hero div.hero-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 70px;
}

section#hero div.hero-txt {
  padding: 70px;
}

section#cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 500px;
      grid-template-rows: 1fr 500px;
  place-items: center;
}

section#data {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
}

section#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: end;
}

.navbar-nav li {
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 2px;
}

.navbar-nav li a {
  font-size: 12px;
}

.hero-img img {
  width: 100%;
}

.hero-txt {
  color: #000000;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20rem;
          flex: 0 1 20rem;
  /*  No stretching: */
  margin: 10px;
  border: none;
  text-align: center;
  box-shadow: -1px 48px 60px -69px rgba(62, 62, 62, 0.58);
  -webkit-box-shadow: -1px 48px 60px -69px rgba(62, 62, 62, 0.58);
  -moz-box-shadow: -1px 48px 60px -69px rgba(62, 62, 62, 0.58);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.footer-distributed {
  background-color: #292c2f;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px 'Comfortaa', cursive;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Comfortaa', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px 'Comfortaa', cursive;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */